<div class="">
    <div class="col-sm-12">
        <div id="slider">
            <figure><img src="/assets/poster5.jpg" alt="Image does not exist" id="invite"></figure>
            <figure><img src="/assets/poster2.png" alt="Image does not exist" id="invite"></figure>
            <figure><img src="/assets/poster3.jpg" alt="Image does not exist" id="invite"></figure>
            <figure><img src="/assets/poster4.jpg" alt="Image does not exist" id="invite"></figure>
            <figure><img src="/assets/poster1.png" alt="Image does not exist" id="invite"></figure>
            
        </div>
    </div>
</div>


<div class="d-flex">
  <div class=" margin">
    <div id="about">
      <h3 id="sub_heading">About Us</h3>
      <p>GadgetsIndia is a website where you can buy electronic
        gadgets from sellers all over India.It acts as a platform 
        between sellers and customers. We thoroughly check the 
        seller's background in order to provide best service
        to the customers. The goal of our company is to offer
        best products at cheapest price.
      </p>
      <h4>Customer Login</h4>
      <p id="login_info">The login is for the customers to buy products. Customers
        can use their email id to access our website.
      </p>
      <h4>Seller Login</h4>
      <p id="login_info">The login is for the sellers to sell their products at 
        best prices. Sellers can use their email id to access
        our website.
      </p>
     </div>
  </div>
  <div class=" margin">
    <img src="/assets/about.jpg" alt="">
  </div>
</div>
   